@import '../../scss/breakpoints.scss';
@import '../../scss/colors';
@import '../../scss/typography';

.favorites {
    margin-top: 10px;
    border: 1px solid $highlight-color;
    padding: 10px;
    max-width: 380px;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        height: 145px;
        overflow-y: scroll;
       
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 325px;
        height: 40px;
        padding: 0 15px;
        background-color: #000;
        margin-bottom: 10px;
        border-radius: 4px;
        align-items: center;
    }

    &__button {
        cursor: pointer;
    }
}